.header {
  border-block-end: 1px solid #ccc;
  padding-block: 1rem;
  margin-block-end: 1rem;

  &__logo {
    display: none;

    @media only screen and (min-width: 768px) {
      display: block;
    }
  }

  &__links {
    a {
      display: inline-block;
      color: #0b80ff;

      @media only screen and (min-width: 992px) {
        padding-block: 0;
        line-height: 1;
      }
    }

    a:last-child {
      @media only screen and (min-width: 992px) {
        border-inline-start: 2px solid #2d3134;
      }
    }
  }
}
