.rocket-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 5rem;
  border-top: 1px solid gray;
}

.rocket-image {
  width: 21rem;
  height: 85%;
}

.card-item {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.reserve-rocketcancelled {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(42, 71, 238);
  color: #fff;
}

.reserve-rocketreserved {
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: gray;
}

.badge {
  margin-right: 0.5rem;
  background-color: rgb(6, 109, 109);
  color: #fff;
}
